{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}

{% block body %}

<div class="naviPanel">
    <img src="{{asset('gui/images/Navi.jpg')}}">
</div>
{% endblock %}
